stages:
  - build
  - test

before_script:
  - source /opt/rh/python27/enable
  - source /opt/rh/devtoolset-7/enable
  - python --version
  - gcc --version
  - source /usr/local/root/bin/thisroot.sh 
  - export OMP_NUM_THREADS=6


build:
  stage: build
  script: 
    - cd build
    - cmake3 ..
    - make -j 2
    - cd ..


cache:
  paths:
    - "build"

test-code:
  stage: test
  script: 
    - export ROOTPWA="$(realpath .)"
    - export PYTHONPATH="${ROOTPWA}/build/pyLib:${PYTHONPATH}"
    - export PATH="${ROOTPWA}/build/bin:${PATH}" 
    - cd build
    - make test
    - cd ..
  artifacts:
    paths:
      - build/Testing/*

test-mc:
  stage: test
  script: 
    - export ROOTPWA="$(realpath .)"
    - export PYTHONPATH="${ROOTPWA}/build/pyLib:${PYTHONPATH}"
    - export PATH="${ROOTPWA}/build/bin:${PATH}" 
    - cd test
    - rm -rf ROOTPWA_MC_TEST
    - ./testMC.sh
    - rm -rf ROOTPWA_MC_TEST
    - cd ..
  
